<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/share.css"/>
		<link rel="stylesheet" type="text/css" href="../css/header.css"/>
	</head>
	<body>
		<div class="header">
			<!--顶部   登录注册   导航-->
			<div class="header-hr">
				<div class="header-hr-ctr">
					<p class="left-ctr">
						<a id="enter" href="enter.html" target="_blank">登录</a><span style="font-size: 14px;">|</span>
						<a id="register" href="register.html" target="_blank">免费注册</a>
						<span class="iconfont">&#xe600;</span>
						<a href="javaScript:;">下载博库APP</a>
					</p>
					<ul class="right-ctr">
						<li class="downs">
							<a href="javaScript:;">我的博库</a><i class="iconfont">&#xe6b5;</i>
							<dl class="down-fol">
								<dd><a href="javaScript:;">我的博库</a></dd>
								<dd><a href="javaScript:;">我的订单</a></dd>
								<dd><a href="javaScript:;">我的优惠券</a></dd>
								<dd><a href="javaScript:;">我的收藏</a></dd>
								<dd><a href="javaScript:;">我的收入</a></dd>
								<dd><a href="javaScript:;">官方消息</a></dd>
							</dl>
						</li>
						<li><a href="javaScript:;">收藏夹</a></li>
						<li><a href="javaScript:;">店铺管理</a></li>
						<li><a href="javaScript:;">联系客服</a></li>
					</ul>
					
				</div>
			</div>
			<!--logo--搜索--购物车-->
			<div class="header-fol">
				<div class="header-fol-ctr">
					<a href="index.html" target="_blank"><img src="../images/bneer/logo.png" /></a>
					<div class="header-fol-ctr-c">
						<div class="sch">
							<input type="text" placeholder="2017诺贝尔文学奖  石黑一雄"/>
							<i class="iconfont">&#xe6ea;</i>
							<ul class="list1">
								<li><a href="javaScript:;">法布尔昆虫记</a></li>
								<li><a href="javaScript:;">沈石溪</a></li>
								<li><a href="javaScript:;">芳华</a></li>
								<li><a href="javaScript:;">曹文轩</a></li>
								<li><a href="javaScript:;">趣味图解四大名著</a></li>
							</ul>
						</div>
					</div>
					<a href="cart.html" class="header-fol-ctr-right mycart"><span class="iconfont">&#xe607;</span><span >购物车</span></a>
					<ul class="header-fol-nav">
						<li><a href="javaScript:;"><i class="iconfont">&#xe69c;</i>所有商品分类</a></li>
						<li><a href="javaScript:;">首页</a></li>
						<li class="ho-nav"><a href="javaScript:;">新品</a></li>
						<li class="ho-nav"><a href="javaScript:;">限时购</a></li>
						<li class="ho-nav"><a href="javaScript:;">排行榜</a></li>
						<li>|</li>
						<li class="ho-nav"><a href="javaScript:;">图书馆</a></li>
						<li class="ho-nav"><a href="javaScript:;">文创馆</a></li>
						<li class="ho-nav"><a href="javaScript:;">生活美学馆</a></li>
						<li class="ho-nav"><a href="javaScript:;">环球美食馆</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
